$content-width: 1280px;

$nav-height: 70px;
$nav-logo-height: 30px;

$title-decoration-height: 90px;
$title-decoration-width: 70px;

$tech-logo-size: 100px;
$tech-height: 300px;
$tech-width: 240px;
$tech-border-radius: 5px;

$footer-logo-height: 50px;

$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
